openai 
python-dotenv
onnx

torch --pre --index-url https://download.pytorch.org/whl/nightly/cu124
lightning
sentencepiece==0.2.0
bitsandbytes==0.43.1
wandb==0.17.0
typing_extensions==4.12.1

tensorflow
tensorflow_hub
tf_sentencepiece
tensorflow-text==2.8.* 
bokeh
protobuf==3.20

jupyter